<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <!-- <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../assets/images/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div> -->

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-create-sq">Create a new Survey
            Question</a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-help">Help</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">


        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell" style="position: relative; left: -15px;"></i>
            <span class="badge badge-warning navbar-badge">1</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <i class="fas fa-user mr-2"></i> Welcome to Bloom Admin Portal
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
              <i class="fas fa-th-large"></i>
            </a>
          </li> -->
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="./assets/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">Bloom</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="./assets/images/admin-logo.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">Admin</a>
          </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
            <!-- <li class="nav-item">
              <a (click)="router.navigate(['Bloom/admin/dashboard']);" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li> -->

            <li class="nav-item">
              <a (click)="router.navigate(['/Bloom/admin/surveyquestions']);" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Survey Questions
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a (click)="router.navigate(['/Bloom/admin/article']);" class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>
                  Articles
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a (click)="router.navigate(['/Bloom/admins']);" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Admins
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a (click)="logout()" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                  Logout
                </p>
              </a>
            </li>

            <!-- <li class="nav-header">EXAMPLES</li> -->
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Survey Questions</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Survey Questions</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- <div class="card-header">
                      <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div> -->
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Question</th>
                        <th>Question Type</th>
                        <!-- <th>Position</th> -->
                        <th>Lang</th>
                        <th (click)="sort('ERDAT')">Position&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Version</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of survey | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:page}">
                        <td>{{item.question}}</td>
                        <td>{{item.question_type}}</td>
                        <!-- <td>{{item.position}}</td> -->
                        <td>{{item.lang}}</td>
                        <td>{{item.position}}</td>
                        <td>{{item.version}}</td>
                        <td>
                          <a (click)="edit(item)" class="nav-link" data-toggle="modal" data-target="#modal-update-sq">
                            <i class="nav-icon fas fa-edit"></i>
                          </a>


                          <!-- <a class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                          </a> -->

                          <!-- &nbsp; -->
                          <a (click)="delete(item)" class="nav-link" data-toggle="modal" data-target="#modal-delete-sq">
                            <i class="nav-icon fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- /.card-body -->
              </div>
              <div class="page">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

        <div class="modal fade" id="modal-create-sq">
          <div class="modal-dialog modal-lg">
            <div [formGroup]="survey_questions" class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create a New Survey Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label>Language</label>
                  <select formControlName="language" class="form-control">
                    <option [ngValue]="null" disabled>Select Language</option>
                    <option *ngFor="let item of languages" [ngValue]="item.name">{{item.lang}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="surveyQuestion">Question</label>
                  <input formControlName="question" type="text" class="form-control" id="surveyQuestion"
                    placeholder="Survey Question">
                </div>

                <div class="form-group">
                  <label>Question Description</label>
                  <textarea formControlName="description" class="form-control"
                    placeholder="Question Description"></textarea>
                </div>
                <div [hidden]="mcq_create" class="form-group">
                  <!-- <label>Multiple Choices</label>
                  <textarea formControlName="mcq_choice" class="form-control"
                    placeholder="Hint : 'Obesity,Diabetes,Heart disease'"></textarea> -->
                    <label>Multiple Choices</label>
                  <tag-input formControlName="mcq_choice" [(ngModel)]='default_tag' [editable]="true" [theme]="'bootstrap'">
                  </tag-input>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Question Type</label>
                      <select #teams (change)="onSelected(teams.value)" formControlName="qn_type" class="form-control">
                        <option [ngValue]="null" disabled>Select Question type</option>
                        <option *ngFor="let item of qn_types" [ngValue]="item.name">{{item.type}}</option>
                      </select>
                    </div>
                  </div>
                  <div [hidden]="def" class="col-sm-6">
                    <div class="form-group">
                      <label>Default</label>
                      <input formControlName="Default" type="text" class="form-control" id="Default"
                        placeholder="Default">
                    </div>
                  </div>
                  <div [hidden]="def_int" class="col-sm-6">
                    <div class="form-group">
                      <label>Default</label>
                      <input formControlName="Default" type="number" class="form-control" id="Default"
                        placeholder="Default">
                    </div>
                  </div>
                </div>
          
                <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label>Version</label>
                      <select #teams1 (change)="onSelected(teams1.value)" formControlName="version" class="form-control">
                        <option [ngValue]="null" disabled>Select Version</option>
                        <option *ngFor="let item of versions" [ngValue]="item.flag">{{item.type}}</option>
                      </select>
                    </div>
                  </div>
                  <div [hidden]="ver" class="col-sm-4">
                    <div class="form-group">
                      <label>Date to Publish</label>
                      <div style="display:inline-flex;flex-direction: row;align-items: center; ">
                        <input class="form-control" placeholder="yyyy-mm-dd" formControlName="publishDate"  
                               ngbDatepicker #d="ngbDatepicker">
                        <!-- <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="bi bi-calendar"></i></button> -->
  
                        <a style="padding-left: 2%;" (click)="d.toggle()" class="nav-link">
                          <i class="nav-icon fas fa-calendar"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="position">Position</label>
                    <input formControlName="position" min="1" type="number" class="form-control"
                      placeholder="range between (1-10000) ">
                  </div>
                </div>
                <!-- <div class="form-group">
                  <div class="form-check">
                    <input formControlName="initial" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Is this Initial Screen Question</label>
                  </div>
                  <div class="form-check">
                    <input formControlName="mandatory" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Is this Mandatory Question</label>
                  </div>
                </div> -->


              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="submit()" type="button" class="btn btn-primary">Create</button>
              </div>
            </div>
            <!-- /.modal-content -->
            <!-- <div [hidden]="toast" class="alert alert-danger" role="alert">
              <div>{{toastmsg}}</div>
            </div> -->
          </div>
          <!-- /.modal-dialog -->
          <div [hidden]="toast" class="alert alert-danger" role="alert" style="position: fixed; top: 0; right: 0; margin-top:2%;margin-right:2%">
            <div>{{toastmsg}}</div>
        </div>
        </div>
        <!-- /.modal  Add a New Admin-->

        <!-- Update model -->
        <div class="modal fade" id="modal-update-sq">
          <div class="modal-dialog modal-lg">
            <div [formGroup]="survey_questions_edit" class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Update Survey Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- <div class="form-group">
                  <label>Language</label>
                  <select formControlName="language" class="form-control">
                    <option [ngValue]="null" disabled>Select Language</option>
                    <option *ngFor="let item of languages" [ngValue]="item.name">{{item.lang}}</option>
                  </select>
                </div> -->

                <div class="form-group">
                  <label for="surveyQuestion">Question</label>
                  <input formControlName="question" type="text" class="form-control" id="surveyQuestion"
                    placeholder="Survey Question">
                </div>

                <div class="form-group">
                  <label>Question Description</label>
                  <textarea formControlName="description" class="form-control"
                    placeholder="Question Description"></textarea>
                </div>
                <div [hidden]="mcq" class="form-group">
                  <label>Multiple Choices</label>
                  <!-- <textarea formControlName="mcq_choice" class="form-control"
                    placeholder="Hint : 'Obesity,Diabetes,Heart disease'"></textarea> -->
                    <tag-input formControlName="mcq_choice" [editable]="true" [theme]="'bootstrap'">
                    </tag-input>
                </div>

                <div class="row">
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label>Question Type</label>
                      <select #teams (change)="onSelected(teams.value)" formControlName="qn_type" class="form-control">
                        <option [ngValue]="null" disabled>Select Question type</option>
                        <option *ngFor="let item of qn_types" [ngValue]="item.name">{{item.type}}</option>
                      </select>
                    </div>
                  </div> -->
                  <div [hidden]="def" class="col-sm-6">
                    <div class="form-group">
                      <label>Default</label>
                      <input formControlName="Default" type="text" class="form-control" id="Default"
                        placeholder="Default">
                    </div>
                  </div>
                  <div [hidden]="def_int" class="col-sm-6">
                    <div class="form-group">
                      <label>Default</label>
                      <input formControlName="Default" type="number" class="form-control" id="Default"
                        placeholder="Default">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label>Version</label>
                        <select #teams2 (change)="onSelected(teams2.value)" formControlName="version" class="form-control">
                          <option [ngValue]="null" disabled>Select Version</option>
                          <option *ngFor="let item of versions" [ngValue]="item.flag">{{item.type}}</option>
                        </select>
                      </div>
                    </div>
                    <div [hidden]="ver" class="col-sm-4">
                      <div class="form-group">
                        <label>Date to Publish</label>
                        <div style="display:inline-flex;flex-direction: row;align-items: center; ">
                          <input class="form-control" placeholder="yyyy-mm-dd"  formControlName="publishDate"
                                 ngbDatepicker #d1="ngbDatepicker">
                          <a style="padding-left: 2%;" (click)="d1.toggle()"  class="nav-link">
                            <i class="nav-icon fas fa-calendar"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>


                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="position">Position</label>
                    <input formControlName="position" min="1" type="number" class="form-control"
                      placeholder="range between (1-10000)">
                  </div>
                </div>
                <!-- <div class="form-group">
                  <div class="form-check">
                    <input formControlName="initial" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Is this Initial Screen Question</label>
                  </div>
                  <div class="form-check">
                    <input formControlName="mandatory" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Is this Mandatory Question</label>
                  </div>
                </div> -->


              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="update()" type="button" class="btn btn-primary">Update</button>
              </div>
            </div>
            <!-- /.modal-content -->
            <!-- <div [hidden]="toast" class="alert alert-danger" role="alert">
              <div>{{toastmsg}}</div>
            </div> -->
          </div>
          <div [hidden]="toast" class="alert alert-danger" role="alert" style="position: fixed; top: 0; right: 0; margin-top:2%;margin-right:2%">
            <div>{{toastmsg}}</div>
        </div>
          <!-- /.modal-dialog -->
        </div>

         <!-- Delete modal -->
         <div class="modal fade" id="modal-delete-sq">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- <div class="modal-header">
                <h4 class="modal-title">Help</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->
              <div class="modal-body">
                <p>Are sure to delete this survey question ?</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="delete_dialog()" type="button" class="btn btn-danger">Delete</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>


        <div class="modal fade" id="modal-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Help</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>How to Create a Survey Questions ?&hellip;</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal  Help-->


      </section>






      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy;<a href="https://bloom.io">Bloom</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

</body>