<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <!-- <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../assets/images/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div> -->

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-add-admin">Add a new admin</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-help">Help</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">


                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell" style="position: relative; left: -15px;"></i>
                        <span class="badge badge-warning navbar-badge">1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-user mr-2"></i> Welcome to Bloom Admin Portal
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
              <i class="fas fa-th-large"></i>
            </a>
          </li> -->
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="./assets/images/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Bloom</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="./assets/images/admin-logo.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                        <!-- <li class="nav-item">
                            <a (click)="router.navigate(['Bloom/admin/dashboard']);" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li> -->


                        <li class="nav-item">
                            <a (click)="router.navigate(['/Bloom/admin/surveyquestions']);" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Survey Questions
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a (click)="router.navigate(['/Bloom/admin/article']);" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    Articles
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a (click)="router.navigate(['/Bloom/admins']);" class="nav-link active">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Admins
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a (click)="logout()" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>
                        <!-- <li class="nav-header">EXAMPLES</li> -->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Admin Users</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Admins</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- <div class="card-header">
                    <h3 class="card-title">DataTable with minimal features & hover style</h3>
                  </div> -->
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th>Username</th> -->
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of admins">
                                                <!-- <td>{{item.username}}</td> -->
                                                <td>{{item.email}}</td>
                                                <td>Administrator</td>
                                                <td>
                                                    <a (click)="edit(item)" class="nav-link" data-toggle="modal" data-target="#modal-edit-admin">
                                                        <i class="nav-icon fas fa-edit"></i>
                                                      </a>
                                                      <a (click)="delete(item)" class="nav-link" data-toggle="modal" data-target="#modal-delete-sq">
                                                        <i class="nav-icon fas fa-trash"></i>
                                                      </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->

                <div class="modal fade" id="modal-add-admin">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add a New Admin</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div [formGroup]="admin" class="modal-body">
                                <!-- <div class="form-group">
                                    <label for="adminUsername">Username</label>
                                    <input formControlName="username" type="text" class="form-control"
                                        id="adminUsername" placeholder="Enter username">
                                </div> -->
                                <div class="form-group">
                                    <label for="adminEmail">Email address</label>
                                    <input formControlName="email" type="email" class="form-control" id="adminEmail"
                                        placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="adminPassword">Password</label>
                                    <input formControlName="password" type="password" class="form-control"
                                        id="adminPassword" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button (click)="submit()" type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                        <!-- <div [hidden]="toast" class="alert alert-danger" role="alert">
                            <div>{{toastmsg}}</div>
                        </div> -->
                              
                    </div>
                    <div [hidden]="toast" class="alert alert-danger" role="alert" style="position: absolute; top: 0; right: 0; margin-top:2%;margin-right:2%">
                        <div>{{toastmsg}}</div>
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                
                <!-- /.modal  Add a New Admin-->
                <!-- Edit admin -->
                <div class="modal fade" id="modal-edit-admin">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Admin</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div [formGroup]="admin_edit" class="modal-body">
                                <!-- <div class="form-group">
                                    <label for="adminUsername">Username</label>
                                    <input formControlName="username" type="text" class="form-control" id="adminUsername"
                                        placeholder="Enter username">
                                </div> -->
                                <!-- <div class="form-group">
                                    <label for="adminEmail">Email address</label>
                                    <input formControlName="email" type="email" class="form-control" id="adminEmail" placeholder="Enter email">
                                </div> -->
                                <div class="form-group">
                                    <label for="adminPassword">Update Password</label>
                                    <input formControlName="password" type="password" class="form-control" id="adminPassword"
                                        placeholder="Enter password">
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button (click)="update()" type="button" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                        <!-- <div [hidden]="toast" class="alert alert-danger" role="alert">
                            <div>{{toastmsg}}</div>
                        </div> -->
                    </div>
                    <div [hidden]="toast" class="alert alert-danger" role="alert" style="position: absolute; top: 0; right: 0; margin-top:2%;margin-right:2%">
                        <div>{{toastmsg}}</div>
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                   <!-- Delete modal -->
        <div class="modal fade" id="modal-delete-sq">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <p>Are sure to delete this admin ?</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button (click)="delete_dialog()" type="button" class="btn btn-danger">Delete</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

                <div class="modal fade" id="modal-help">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Help</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>How to Create a New admin &hellip;</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal  Help-->


            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy;<a href="https://bloom.io">Bloom</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 0.0.1
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

</body>